<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Medios de pago</h2>
                    <p>Aboná con tarjeta, efectivo o mediante tus billeteras digitales favoritas.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis con tus compras mayores a $19.900</h2>
                    <p>Disfrutá de envíos gratuitos, rápidos y seguros.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Devoluciones y atención al cliente</h2>
                    <p>¿No te gusta tu producto? ¿Hubo algún inconveniente? Ponete en contacto con nosotros y te ayudamos a resolverlo.</p>
                </article>
            </div>
        </div>
    </div>
    <div class="credits">
        <div class="row">
            <div class="col-12">
                <p style="text-align: center;">Rocío Beccar Varela - Josefina Trezeguet - Catalina Scallan</p>
            </div>
        </div>
    </div>
</footer>