<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<%- include("./partials/header") %>

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar producto</h2>
			</div>
			<form action="/product/add" method="get">
				<label for="imagen" class="label">Imagen</label>
				<input class="form-input" type="file" name="ImagenProducto" placeholder="Imagen de producto" required>
	
				<label for="nombre_producto" class="label">Nombre del producto</label>
				<input class="form-input" type="text" name="NombreProducto" placeholder="Nombre del producto" required>
	
				<label for="descripcion" class="label">Descripción</label>
				<input class="form-input" type="text" name="DescripcionProducto" placeholder="Descripción" required>
	
				<button class="form-label" type="submit">Agregar producto</button>			 
			</form>	
		</div>
	</div>

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>
</html>





	