<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
</head>
<body id="body">

    <header>
        <!-- Cabecera -->
    </header>



    <main>
        <!-- principal -->

    	<h1>Agregar Producto</h1>
    	<form action="/ProyectoIntegrador/views/product-add.ejs" method="GET">

		<div class="contenedor-input">
        	<label for="imagen">Imagen:</label>
        	<input type="file" id="imagen" name="imagen" required>
		</div>

		<div class="contenedor-input">
        	<label for="nombre_producto">Nombre del Producto:</label>
        	<input type="text" id="nombre_producto" name="nombre_producto" required>
		</div>

		<div class="contenedor-input">
       	 	<label for="descripcion">Descripción:</label>
        	<textarea id="descripcion" name="descripcion" rows="4" cols="50" required></textarea>
		</div>

		<div class="contenedor-input">
        <button type="submit">Agregar Producto</button>
		</div>
    </form>
</main>

<footer>
	<!-- pie de pagina -->
</footer>

</body>
</html>