<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar mi perfil</title>
	
</head>
<body id="body">

    <header>
        <!-- Cabecera -->
    </header>



    <main>
        <!-- principal -->

    <h1>Editar mi perfil</h1>
    <form action="./profile-edit.ejs" method="GET">
		<div class="contenedor-input">
        	<label for="email">Email:</label>
        	<input type="email" id="email" name="email" required>
		</div>
		<div class="contenedor-input">
       		<label for="usuario">Usuario:</label>
        	<input type="text" id="usuario" name="usuario" required>
		</div>

	    <div class="contenedor-input">
        	<label for="contraseña">Contraseña:</label>
        	<input type="password" id="contraseña" name="contraseña" required>
		</div>

		<div class="contenedor-input">
        	<label for="fecha_nacimiento">Fecha de Nacimiento:</label>
        	<input type="date" id="fecha_nacimiento" name="fecha_nacimiento" required>
		</div>

		<div class="contenedor-input">
        	<label for="nro_documento">Número de Documento:</label>
        	<input type="number" id="nro_documento" name="nro_documento" required>
		</div>

		<div class="contenedor-input">
        	<label for="foto_perfil">Foto de Perfil:</label>
        	<input type="text" id="foto_perfil" name="foto_perfil" required>
		</div>

		<div class="contenedor-input">
        	<button type="submit">Guardar cambios</button>
		</div>
    </form>

</main>

<footer>
	<!-- pie de pagina -->
</footer>

</body>
</html>