<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<%- include("./partials/header") %>

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<form action="/users/register" method="get">
				<input class="form-input" type="email" name="email" placeholder="Email" required>
				<input class="form-input" type="text" name="usuario" placeholder="Usuario" required>
				<input class="form-input" type="password" name="contrasena" placeholder="Contraseña" required>
	
				<label for="fecha_nacimiento" class="label">Fecha de nacimiento</label>
				<input class="form-input" type="date" name="fecha_nacimiento" required>
	
				<label for="nro_documento" class="label">Número de documento</label>
				<input class="form-input" type="number" name="numero_documento"required>
	
				<label for="foto_perfil" class="label">Foto de perfil</label>
				<input class="form-input" type="text" name="foto_perfil" required>
	
				<button class="form-label" type="submit">Registrarse</button>
			 </form>	
		</div>
	</div>

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>
</html>





	