<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include("./partials/head") %>

<body>
	<!-- Header -->
	<%- include("./partials/header") %>

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<form action="/pi-grupo1-beccar-scallan-trezeguet/ProyectoIntegrador/views/search-results.ejs" method="post">
			
				<label class="label" for="nombre">Nombre:</label>
				<input class="form-input” type="text" id="nombre" name="nombre">

				<label for="comentario" class="label" >Comentario:</label>
				<textarea id="comentario" name="comentario"></textarea>
				
				<input class="form-input” type="submit" value="Agregar Comentario">
			  
			</form>
		</div>
	</div>

	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->
</body>

</html>